@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    @apply my-6;
  }
  .section-title {
    @apply font-semibold text-xl mb-1;
  }
  .title-square:before {
    display: inline-block;
    width: 4px;
    height: 4px;
    vertical-align: middle;
    background: #333;
    content: '';
    margin-right: 1rem;
  }
  [data-theme=dark] .title-square:before {
    background: #fff;
  }
}

a {
  --theme-link-color: #0074cc;
  color: var(--theme-link-color);
}
